table {
  /* This code is OK, but please be careful with %. */
  /* okay */
  /* All the <table> border styles need to be added here(common styles). */
  /*done*/
  margin-top: 1%;
  margin-bottom: 1%;
}

#first-table,
#first-table td,
#second-table td,
#second-table th,
#third-table,
#third-table td,
#third-table th,
#fourth-table,
#fourth-table td {
  border: 1px solid #000;
}

#first-table {
  border-spacing: 3px;
  text-align: center;
  table-layout: fixed;
}

#first-table td {
  padding: 10px;
  width: 25px;
  height: 25px;
}

#second-table {
  border-collapse: collapse;
}

#second-table td {
  padding: 5px;
}

#second-table th {
  padding: 5px;
}

#third-table {
  border-spacing: 3px;
}

#third-table td {
  padding: 10px;
}

#third-table th {
  padding: 10px;
}

#fourth-table {
  border-collapse: collapse;
  border-spacing: 3px;
  text-align: center;
}
#fourth-table td {
  padding: 10px;
}
