/*---------------------------------my reset-------------------------------------------*/
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*---------------------------------end my reset-------------------------------------------*/

/*---------------------------------main style-------------------------------------------*/
.main-container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-size: 14px;
}

/*---------------------------------end main style-------------------------------------------*/

/*---------------------------------header style-------------------------------------------*/
.headstyle {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87)), url("../img/header-background.png") no-repeat center;
  background-size: cover;
  position: relative;
}

.main-fix-menu {
  background-color: #191919;
}

.sign-in {
  font: 400 small-caps 11px/27px Montserrat, sans-serif;
  text-transform: uppercase;
  color: white;
  opacity: 0.38;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.38);
  margin-right: 15px;
}

.favorite-menu {
  margin-left: 50px;
}

.favorite-menu li:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 1.0);
}

.menu-top ul li {
  display: inline-block;
  font: 700 14px Montserrat, sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.menu-top ul a {
  padding: 25px 14px;
}

.menu-top {
  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
}

.logo {
  font: 700 24px/36px Montserrat, sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.92px;
}

.main-text-box {
  max-width: 810px;
}

.main-text-box .heading {
  font: 400 small-caps 28px/27px Montserrat, sans-serif;
  opacity: 0.7;
  color: #fff;
  letter-spacing: 1.4px;
}

.main-text-box h2 {
  font: 900 40px/52px Montserrat, sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  margin: 50px 0 100px;
}

.main-text-box .user-name {
  margin-top: 20px;
}

.post-stats {
  font: 400 12px/27px Montserrat, sans-serif;
  opacity: 0.7;
  color: #fff;
  min-width: 230px;
  margin-top: 25px;
}

/*---------------------------------end header style-------------------------------------------*/

/*---------------------------------filter style-------------------------------------------*/
.filter-section {
  box-shadow: 0 1px 0 #ddd;
  background-color: #fff;
  margin-bottom: 30px;
}

.filter-section .main-container {
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.filter-section li {
  font: 700 small-caps 16px/27px Montserrat, sans-serif;
  letter-spacing: 0.8px;
  display: inline-block;
  padding: 5px 30px;
  border-radius: 20px;
  background-color: #f5f5f5;
}

.filter-section li:hover {
  background-color: #fff;
  border: 1px solid #3f51b5;
  padding: 4px 29px;
}

.filter-section p {
  font: 700 small-caps 16px/27px Montserrat, sans-serif;
  letter-spacing: 0.8px;
  margin-right: 20px;
}

/*---------------------------------end filter style-------------------------------------------*/

/*---------------------------------content style-------------------------------------------*/
main {
  background-color: #f5f5f5;
}

.main-post-section {
  margin-bottom: 20px;
}

.post-image {
  position: relative;

}

.post-image-info {
  font: 400 small-caps 16px Montserrat, sans-serif;
  letter-spacing: 0.8px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  z-index: 5;
  left: 20px;
  bottom: 20px;
}

.post-image-info a:hover {
  font: 700 small-caps 16px Montserrat, sans-serif;
}

.post-img-stats {
  font: 400 12px Montserrat, sans-serif;
  position: absolute;
  z-index: 5;
  right: 20px;
  bottom: 20px;
  color: rgba(255, 255, 255, 1);
}

.post-img-stats span {
  margin-left: 15px;
}

.horizontal-section .post-header {
  padding: 10px 20px;
}

.horizontal-section .post-info {
  padding: 10px 20px;
}

.horizontal-section .post {
  max-height: 165px;
}

.horizontal-section article {
  margin-bottom: 20px;
}

.post-section {
  margin-right: 20px;
  max-width: 820px;
}

.post {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #fff;
}

.post-header {
  padding: 20px;
}

.post-info {
  padding: 20px;
}

.main-post-section .post h4 {
  font: 700 18px/29px Montserrat, sans-serif;
  opacity: 0.87;
  letter-spacing: 0.9px;
}

.main-post-section .post-text {
  font: 400 16px/26px 'Open Sans', sans-serif;
  opacity: 0.87;
  letter-spacing: 0.64px;
}

.post-details {
  padding: 0 11px;
}

.top-post-section {
  margin: 20px 0;
}

.post h4 {
  font: 700 14px/24px Montserrat, sans-serif;
  opacity: 0.87;
  letter-spacing: 0.7px;
}

.post-text {
  font: 400 14px/21px 'Open Sans', sans-serif;
  color: #000;
  opacity: 0.87;
  letter-spacing: 0.56px;
}

.more-butn-box {
  text-align: right;
  color: #3f51b5;
  margin: 70px 0;
}

.more-butn-box label {
  font: 400 16px/36px Montserrat, sans-serif;
  color: #303f9f;
  letter-spacing: 0.8px;
  padding: 0 10px;
}

/*---------------------------------end content style-------------------------------------------*/

/*---------------------------------aside style-------------------------------------------*/
aside {
  padding: 0 30px;
  background-color: #fff;
  max-width: 330px;
}

aside .search-form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

aside .search-form input {
  font: 400 16px/36px 'Open Sans', sans-serif;
  height: 45px;
  padding: 0 50px 0 10px;
  margin-top: 20px;
  border-radius: 22px;
  border: none;
  outline: none;
  background-color: #f5f5f5;
  width: 100%;
}

aside .search-form button {
  box-shadow: 0 2px 13px rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  border: none;
  background-color: #ff4081;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 25px;
  right: 8px;
  cursor: pointer;
}

aside h5 {
  font: 700 18px Montserrat, sans-serif;
  color: #3f51b5;
  text-transform: uppercase;
  letter-spacing: 1.15px;
  border-bottom: 1px solid rgba(41, 98, 255, 0.38);
  padding: 10px 0;
  margin-top: 25px;
}

.sbc-box .form-group label {
  font: 400 16px/36px 'Open Sans', sans-serif;
  opacity: 0.87;
  color: #000;
  letter-spacing: 0.8px;
}

.sbc-box .form-group input {
  font: 400 16px/36px 'Open Sans', sans-serif;
  color: #000;
  letter-spacing: 0.8px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #fff;
  width: 100%;
  padding-left: 15px;
}

.sbc-box .form-group .input::-webkit-input-placeholder {
  opacity: 0.38; /*Change the opacity between 0 and 1*/
}

.switch-post {
  margin-top: 20px;
  font: 400 small-caps 16px/30px Montserrat, sans-serif;
  letter-spacing: 0.8px;
}

.switch-post .recent-post {
  color: #fff;
  border-radius: 4px 0 0 4px;
  background-color: #3f51b5;
  padding: 15px 0;
  display: inline-block;
  width: 133px;
  text-align: center;
}

.switch-post .popular-post {
  color: #3f51b5;
  border-radius: 0 4px 4px 0;
  border: 1px solid #3f51b5;
  background-color: #ffffff;
  padding: 14px 0;
  margin-left: -5px;
  display: inline-block;
  width: 133px;
  text-align: center;
}

.mini-post {
  display: flex;
  padding: 15px 0;
}

.mini-post-info {
  padding: 0 15px;
}

.mini-post .date {
  font: 400 12px 'Open Sans', sans-serif;
  letter-spacing: 0.56px;
}

.mini-post .comments {
  font: 400 13px 'Open Sans', sans-serif;
  color: #a1b1bc;
}

.mini-post .fas {
  color: #2962ff;
}

.mini-post h4 {
  font: 700 14px 'Open Sans', sans-serif;
  letter-spacing: 0.56px;
}

.tags-box ul {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.tags-box li {
  font: 700 14px 'Open Sans', sans-serif;
  color: #000000;
  letter-spacing: 0.56px;
  padding: 8px 15px;
  margin: 0 10px 10px 0;
  border-radius: 4px;
  background-color: #eee;
}

.tags-box li:hover {
  background-color: #ff4081;
}

.line-or {
  font: 400 16px/36px 'Open Sans', sans-serif;
  overflow: hidden;
  margin: 20px 0;
  text-align: center;
  opacity: 0.87;
  color: #000;
  letter-spacing: 0.8px;
}

.line-or:before {
  margin-left: -100%;
  content: '';
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 1px;
  background-color: #000000;
  opacity: 0.54;
  border: solid #fff;
  border-width: 0 10px;
}

.line-or:after {
  margin-right: -100%;
  content: '';
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 1px;
  background-color: #000;
  opacity: 0.54;
  border: solid #fff;
  border-width: 0 10px;
}

/*---------------------------------end aside style-------------------------------------------*/

/*---------------------------------footer style-------------------------------------------*/
.footer-background {
  background: url('../img/footer-background.png') no-repeat center;
  min-height: 200px;
}

.footer-background form {
  padding-top: 80px;
}

.footer-form-subscribe label {
  color: #fff;
  font-family: 'Montserrat:900', sans-serif;
  font-size: 40px;
  font-weight: 900;
}

#email2 {
  font: 400 16px/36px 'Open Sans', sans-serif;
  color: #fff;
  outline: none;
  letter-spacing: 0.8px;
  border-radius: 22px;
  border: 1px solid rgba(255, 255, 255, 0.38);
  padding-left: 15px;
  background: rgba(48, 48, 48, 0.38);
}

#email2:focus {
  border: 1px solid rgba(85, 172, 238, 1);
  box-shadow: 0 0 65px 10px rgba(85, 172, 238, 0.5);
}

#email2::-webkit-input-placeholder {
  opacity: 0.38; /*Change the opacity between 0 and 1*/
}

.footer-menu {
  background-color: #303030;
}

.footer-menu ul a {
  padding: 20px 0;
}

.footer-menu ul li {
  font: 700 12px Montserrat, sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  padding: 20px;
}

select {
  font: 400 small-caps 11px/27px Montserrat, sans-serif;
  opacity: 0.5;
  color: #fff;
  letter-spacing: 0.8px;
  background: inherit;
  border: none;
}

select option {
  background-color: #303f9f;
}

.main-fix-menu select {
  opacity: 0.38;
}

.footer-widget {
  background-color: #212121;
  padding: 50px 0 50px;
}

.pages-widget,
.twitter-widget,
.social-widget,
.flickr-widget,
.news-letter {
  width: 270px;
}

.widget-margin {
  margin-right: 30px;
}

.footer-widget .main-container {
  display: flex;
}

.footer-widget h5 {
  font: 700 18px Montserrat, sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.15px;
  margin-bottom: 30px;
}

.pages-widget li {
  font: 700 14px 'Open Sans', sans-serif;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.7px;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;
  padding: 15px;
  position: relative;
}

.pages-widget a {
  display: block;
}

.pages-widget li:hover {
  color: #55acee;
  border: 1px solid rgba(85, 172, 238, 1);
}

.pages-widget li i {
  position: absolute;
  right: 15px;
  top: 16px;
}

.twitter-widget {
  margin-bottom: 32px;
}

.twitter-widget .fa-twitter {
  font-size: 24px;
  color: #55acee;
  float: left;
  margin: 0 15px 0;
}

.twitter-widget p {
  font: 400 14px 'Open Sans', sans-serif;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.56px;
  margin-bottom: 10px;
}

.twitter-widget .twitter-function {
  font: 400 12px 'Open Sans', sans-serif;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.6px;
  display: flex;
  justify-content: space-between;
}

.twitter-widget .twitter-mini-post:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.twitter-widget .twitter-mini-post {
  padding-bottom: 13px;
  margin-bottom: 15px;
}

.twitter-widget .twitter-function i {
  margin-top: 5px;
}

.twitter-widget .twitter-function a {
  text-decoration: underline;
}

.twitter-widget a:hover {
  color: #55acee;
}

.flickr-widget ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flickr-widget li {
  margin-bottom: 4px;
}

.news-letter .news-letter-form-group input {
  font: 400 14px 'Open Sans', sans-serif;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.7px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.38);
  background: inherit;
  width: 238px;
  padding: 19px 15px 16px;
  margin-bottom: 10px;
}

.news-letter .news-letter-form-group #message {
  font: 400 14px 'Open Sans', sans-serif;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.7px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.38);
  background: inherit;
  width: 238px;
  height: 120px;
  padding: 19px 15px 16px;
  margin-bottom: 10px;
}

.footer-form-search form {
  position: relative;
  margin: 0 auto;
}

.footer-form-search input {
  font: 300 14px Montserrat, sans-serif;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.7px;
  width: 220px;
  outline: none;
  border-radius: 17px;
  border: 1px solid rgba(255, 255, 255, 0.38);
  background-color: inherit;
  padding: 11px 40px 11px 20px;
}

.footer-form-search button {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: inherit;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.footer-form-search input:focus {
  border: 1px solid rgba(85, 172, 238, 1);
  color: rgba(85, 172, 238, 1);
}

/*---------------------------------end footer style-------------------------------------------*/

/*---------------------------------button style-------------------------------------------*/
.main-btn {
  font: 400 small-caps 24px/36px Montserrat, sans-serif;
  color: #fff;
  letter-spacing: 1.2px;
  box-shadow: 0 17px 24px rgba(48, 63, 159, 0.2);
  border-radius: 22px;
  background-color: #303f9f;
  border: none;
  padding: 4px 25px 7px;
}

.collapse-btn {
  background-color: inherit;
  border: none;
}

#more-btn {
  border: none;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  padding: 13px;
  color: #3f51b5;
}

.sbc-box .sbm-btn {
  font: 400 small-caps 24px/36px Montserrat, sans-serif;
  color: #fff;
  letter-spacing: 1.2px;
  border-radius: 4px;
  background-color: #3f51b5;
  width: 100%;
  margin: 10px 0;
}

.btn-footer {
  font: 400 small-caps 24px/36px Montserrat, sans-serif;
  color: #ffffff;
  letter-spacing: 1.2px;
  box-shadow: 0 17px 24px rgba(48, 63, 159, 0.2);
  border-radius: 22px;
  border: none;
  background-color: #303f9f;
  padding: 1px 28px 6px 31px;
}

.news-letter .sbm-btn {
  font: 400 small-caps 18px Montserrat, sans-serif;
  color: #fff;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: #303030;
  border: 1px solid rgba(255, 255, 255, 0);
}

.news-letter .sbm-btn:hover {
  color: #55acee;
  border: 1px solid rgba(85, 172, 238, 1);
}

/*---------------------------------end button style-------------------------------------------*/

/*---------------------------------fonts style-------------------------------------------*/
.user-name {
  font: 700 12px/27px Montserrat, sans-serif;
  opacity: 0.87;
  letter-spacing: 0.7px;
}

.post-date {
  font: 400 12px/27px Montserrat, sans-serif;
  opacity: 0.54;
  color: #212121;
  letter-spacing: 0.6px;
}

.main-text-box .user-name,
.main-text-box .post-date {
  color: #fff;
}

.ctg-fnt {
  font: 400 14px/40px 'Open Sans', sans-serif;
  opacity: 0.87;
  letter-spacing: 0.56px;
}

.counter-fnt {
  font: 700 14px/40px 'Open Sans', sans-serif;
  opacity: 0.87;
  letter-spacing: 0.56px;
}

aside .fab {
  padding: 13px;
  font-size: 18px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  font-weight: 400;
}

.social-widget .fab {
  padding: 13px;
  font-size: 18px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  font-weight: 400;
}

header .fab {
  padding: 12px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  opacity: 0.38;
}

.header .far {
  color: #fff;
}

.fab:hover {
  opacity: 0.5;
}

.fas:hover {
  opacity: 0.5;
}

.far:hover {
  opacity: 0.5;
}

aside .fa-facebook-f {
  background: #3b5999;
  color: #fff;
}

aside .fa-twitter {
  background: #55ACEE;
  color: #fff;
}

aside .fa-vk {
  background: #4c75a3;
  color: #fff;
}

aside .fa-pinterest {
  background: #ff2e56;
  color: #fff;
}

aside .fa-tumblr {
  background: #34465d;
  color: #fff;
}

aside .fa-dribbble {
  background: #ea4c89;
  color: #fff;
}

.social-widget .fa-facebook-f {
  background: #3b5999;
  color: #fff;
}

.social-widget .fa-twitter {
  background: #55ACEE;
  color: #fff;
}

.social-widget .fa-vk {
  background: #4c75a3;
  color: #fff;
}

.social-widget .fa-pinterest {
  background: #ff2e56;
  color: #fff;
}

.social-widget .fa-tumblr {
  background: #34465d;
  color: #fff;
}

.social-widget .fa-dribbble {
  background: #ea4c89;
  color: #fff;
}

.fa-globe {
  background: #fff;
  color: #303030;
  border-radius: 45%;
}

.main-fix-menu .fa-globe {
  opacity: 0.38;
}

.font-awesome-bold {
  font-size: 24px;
}

/*---------------------------------end fonts style-------------------------------------------*/

/*---------------------------------flex style-------------------------------------------*/
.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.justify-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-fix-menu ul {
  align-items: flex-end;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.footer-slider-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -4px;
  overflow: hidden;
}

.mrg-right {
  margin-right: 20px;
}

.main-post-user-info {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*---------------------------------end flex style-------------------------------------------*/

/*---------------------------------effects style-------------------------------------------*/
.bottom-lightning a:hover {
  border-bottom: 4px solid #ff4081;
}

.main-btn:hover {
  box-shadow: 0 0 65px 10px rgba(255, 64, 129, 1);
  color: #ff4081;
}

.btn-footer:hover {
  box-shadow: 0 17px 24px rgba(255, 64, 129, 1);
  color: #ff4081;
}

.logo h1:hover {
  color: #ff4081;
}

.footer-menu a:hover {
  color: #ff4081;
}

#more-btn:hover {
  color: #ff4081;
  background-color: #3f51b5;
}

.catgr-box a:hover {
  background-color: #3f51b5;
  color: #ff4081;
}

.post-details a:hover {
  color: #3f51b5;
}

h4:hover {
  color: #3f51b5;
}

.grey-line-bottom {
  border-bottom: 1px solid rgba(55, 47, 43, 0.12);
}

/*DARKEN*/
.brighten img {
  -webkit-filter: brightness(100%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.brighten img:hover {
  -webkit-filter: brightness(60%);
}

/*---------------------------------end effects style-------------------------------------------*/

