/*****main style*/
header {
  background: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87)), url("../img/header-background.png");
  min-height: 786px;
  padding-top: 14px;
}

.header-container {
  max-width: 1170px;
  margin: auto;
}

.main-container {
  max-width: 1170px;
  margin: auto;
}

main {
  padding-top: 90px;
  background-color: #f5f5f5;
}

/*****end main style*/

/*****header style*/
.header-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  right: 0;
  left: 0;
  position: absolute;
}

/**********main menu style*/

.main-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: inherit;
}

.main-menu li {
  float: left;
}

.main-menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 25px 20px;
  text-decoration: none;
}

.main-menu li a:hover {
  border-bottom: 4px solid #ff4081;
}

/**********end main menu style*/

.pre-headline {
  margin: 265px 0 35px;
}

.headline {
  margin: 0;
}

.headline-box {
  max-width: 810px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

/*****end header style*/

/*****content style*/
.content-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content-flex .right-margin {
  margin-right: 15px;
}

.main-post {
  width: 820px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #ffffff;
}

.main-post h4,
p {
  margin: 18px 20px;
}

hr {
  background-color: #000000;
  opacity: 0.12;
}

.userpick {
  margin: 20px;
}

.author-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.author-flex-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pre-post-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 88px;
}

.pre-post {
  max-width: 260px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #ffffff;
}

.pre-post h5 {
  margin: 20px;
}


/*****end content style*/

/*****sidebar style*/
.sidebar {
  width: 330px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #ffffff;
  padding: 0 15px;
}

.sidebar .blue-line {
  height: 1px;
  background-color: #2962ff;
  opacity: 0.38;
}

.sidebar .grey-line {
  height: 1px;
  background-color: #372f2b;
  opacity: 0.1;
}

.sidebar-category li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar-category ul {
  padding: 0;
}
.sidebar-category h4 {
  margin: 35px auto 10px;
}

.sidebar-subcribe h4 {
  margin: 35px auto 10px;
}

.form-group input {
  display: block;
  width: 270px;
  height: 45px;
  border-radius: 4px;
  border: 1px solid #000000;
  background-color: #ffffff;
  opacity: 0.38; /*костыль, не разобрался с цветом плейсхолдера*/
  padding: 0 0 0 15px;
  margin: 15px 0;
}

.social-btn-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*****end sidebar style*/

/*****footer style*/
/*****end footer style*/

/*****buttons style*/
.btn {
  width: 170px;
  box-shadow: 0 17px 24px rgba(48, 63, 159, 0.2);
  border-radius: 22px;
  background-color: #303f9f;
  margin-top: 93px;
  border-style: none;
}

.btn:hover {
  background-color: #ff4081;
  border: 4px solid #303f9f;
  color: #303f9f;
}

.author-btn {
  background: none;
  border: none;
  margin: 20px 20px 20px 0;
}
.more-btn-section {
  text-align: right;
  margin: 75px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.more-btn {
margin-left: 10px;
}


.btn-subcribe {
  width: 100%;
  height: 45px;
  border-radius: 4px;
  background-color: #3f51b5;
}
.btn-subcribe:hover {
  background-color: #ff4081;
  border: 4px solid #303f9f;
  color: #303f9f;
}
/*****buttons style*/

/*****all font style Сокращённые записи сделаю если успею*/
.logo-font {
  width: 91px;
  height: 18px;
  color: #ffffff;
  font-family: 'Montserrat:400', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo a:hover {
  color: #ff4081;
}

.maim-menu-font {
  color: #ffffff;
  font-family: 'Montserrat:700', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.pre-headline-font {
  opacity: 0.7;
  color: #ffffff;
  font-family: 'Montserrat:400', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 27px;
  font-variant: small-caps;
}

.headline-font {
  color: #ffffff;
  font-family: 'Montserrat:900', sans-serif;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
}

.btn-font {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  font-variant: small-caps;
}

.title-post-font {
  opacity: 0.87;
  color: #000000;
  font-family: 'Montserrat:700', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.9px;
}

.post-font {
  opacity: 0.87;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.64px;
}

.author-font {
  opacity: 0.87;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.7px;
}

.date-font {
  opacity: 0.54;
  color: #212121;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.6px;
}

.title-pre-post-font {
  opacity: 0.87;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.7px;
}

.pre-post-font {
  opacity: 0.87;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.56px;
}

.sidebar-box-head-font {
  color: #3f51b5;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.15px;
}

.form-font {
  opacity: 0.38;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.8px;
}

.more-text {
  color: #303f9f;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.8px;
}
/*****end font style*/

.line-or {
  overflow: hidden;
  margin: 20px 0;
  text-align: center;
  opacity: 0.87;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.8px;
}
.line-or:before {
  margin-left: -100%;
  content: '';
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 1px;
  background-color: #000000;
  opacity: 0.54;
  border: solid #FFF;
  border-width: 0 10px;
}

.line-or:after {
  margin-right: -100%;
  content: '';
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 1px;
  background-color: #000000;
  opacity: 0.54;
  border: solid #FFF;
  border-width: 0 10px;
}

/*****social btn style*/
.fab {
  padding: 13px;
  font-size: 18px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  font-weight: 400;
  line-height: 19px;
}
.fab:hover {
  opacity: 0.5;
}
.fas:hover {
  opacity: 0.5;
}
.fa-facebook-f {
  background: #3b5999;
  color: #fff;
}
.fa-twitter {
  background: #55ACEE;
  color: #fff;
}
.fa-vk {
  background: #4c75a3;
  color: #fff;
}
.fa-pinterest {
  background: #ff2e56;
  color: #fff;
}
.fa-tumblr {
  background: #34465d;
  color: #fff;
}
.fa-dribbble {
  background: #ea4c89;
  color: #fff;
}

.more-btn-section .fas {
  text-align: center;
  border-radius: 50%;
}

.fa-arrow-circle-right {
  background: #3f51b5;
  color: #fff;
}

.pre-post img:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}