/*---------------------------------main style-------------------------------------------*/
/*
font: [font-style||font-variant||font-weight] font-size [/line-height] font-family | inherit
font: 700 24px/36px Montserrat, sans-serif;
body {
  background: #8cf url('sea.jpg') no-repeat fixed bottom;
}
Где:
#8cf — background-color
url('sea.jpg') — background-image
no-repeat — background-repeat
fixed — background-attachment
bottom — background-position

*/
body {
  font-size: 14px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

/*---------------------------------end main style-------------------------------------------*/

/*---------------------------------header style-------------------------------------------*/
header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87)), url("../img/header-background.png") no-repeat center;
  background-size: cover;
  position: relative;
}

.menu-top ul li {
  display: inline-block;
  font: 700 14px Montserrat, sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.menu-top ul a {
  padding: 25px 14px;
}

.menu-top {
  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
}

.logo {
  font: 700 24px/36px Montserrat, sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.92px;
}

.main-text-box {
  max-width: 810px;
}

.main-text-box p {
  font: 400 small-caps 28px/27px Montserrat, sans-serif;
  opacity: 0.7;
  color: #fff;
  letter-spacing: 1.4px;
}

.main-text-box h2 {
  font: 900 40px/52px Montserrat, sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  margin: 50px 0 100px;
}

/*---------------------------------end header style-------------------------------------------*/

/*---------------------------------content style-------------------------------------------*/
main {
  padding-top: 90px;
  background-color: #f5f5f5;
}

.post-section {
  margin-right: 20px;
  max-width: 820px;
}

.post {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #fff;
}

.post-header {
  padding: 20px;
}

.post-info {
  padding: 20px;
}

.post h4 {
  font: 700 18px/29px Montserrat, sans-serif;
  opacity: 0.87;
  color: #000;
  letter-spacing: 0.9px;
}

.post-text {
  font: 400 16px/26px 'Open Sans', sans-serif;
  opacity: 0.87;
  color: #000;
  letter-spacing: 0.64px;
}

.post-details {
  padding: 0 11px;
}

.top-post-section {
  margin: 80px 0;
}

.top-post-section .post h4 {
  font: 700 14px/24px Montserrat, sans-serif;
  opacity: 0.87;
  color: #000;
  letter-spacing: 0.7px;
}

.top-post-section .post-text {
  font: 400 14px/21px 'Open Sans', sans-serif;
  color: #000;
  opacity: 0.87;
  letter-spacing: 0.56px;
}

.more-butn-box {
  text-align: right;
  color: #3f51b5;
  margin-bottom: 70px;
}

.more-butn-box label {
  font: 400 16px/36px Montserrat, sans-serif;
  color: #303f9f;
  letter-spacing: 0.8px;
  padding: 0 10px;
}

/*---------------------------------end content style-------------------------------------------*/

/*---------------------------------aside style-------------------------------------------*/
aside {
  padding: 0 30px;
  background-color: #fff;
  max-width: 330px;
}

aside h5 {
  font: 700 18px Montserrat, sans-serif;
  color: #3f51b5;
  text-transform: uppercase;
  letter-spacing: 1.15px;
  border-bottom: 1px solid rgba(41, 98, 255, 0.38);
  padding: 10px 0;
  margin-top: 25px;
}

.sbc-box .form-group label {
  font: 400 16px/36px 'Open Sans', sans-serif;
  opacity: 0.87;
  color: #000;
  letter-spacing: 0.8px;
}

.sbc-box .form-group input {
  font: 400 16px/36px 'Open Sans', sans-serif;
  opacity: 0.38;
  color: #000;
  letter-spacing: 0.8px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #fff;
  width: 100%;
}

.line-or {
  font: 400 16px/36px 'Open Sans', sans-serif;
  opacity: 0.87;
  color: #000000;
  letter-spacing: 0.8px;
  text-align: center;
}

/*---------------------------------end aside style-------------------------------------------*/

/*---------------------------------footer style-------------------------------------------*/
.footer-background {
  background: url('../img/footer-background.png') no-repeat center;
  min-height: 200px;
}

.footer-background form {
  padding-top: 80px;
}

.footer-form-subscribe label {
  color: #fff;
  font-family: 'Montserrat:900', sans-serif;
  font-size: 40px;
  font-weight: 900;
}

#email2 {
  font: 400 16px/36px 'Open Sans', sans-serif;
  opacity: 0.54;
  color: #fff;
  letter-spacing: 0.8px;
  border-radius: 22px;
  border: 1px solid rgba(255, 255, 255, 0.38);
  background-color: #303030;
  padding-left: 15px;
}

.footer-menu {
  background-color: #303030;
}

.footer-menu ul a {
  padding: 20px 0;
}

.footer-menu ul li {
  font: 700 12px Montserrat, sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  padding: 20px;
}

.footer-menu select {
  font: 400 small-caps 16px/27px Montserrat, sans-serif;
  opacity: 0.5;
  color: #fff;
  letter-spacing: 0.8px;
  background: inherit;
  border: none;
}

.footer-menu select option {
  background-color: #303f9f;
}

/*---------------------------------end footer style-------------------------------------------*/

/*---------------------------------button style-------------------------------------------*/
.main-btn {
  font: 400 small-caps 24px/36px Montserrat, sans-serif;
  color: #fff;
  letter-spacing: 1.2px;
  box-shadow: 0 17px 24px rgba(48, 63, 159, 0.2);
  border-radius: 22px;
  background-color: #303f9f;
  border: none;
  padding: 4px 25px 7px;
}

.collapse-btn {
  background-color: inherit;
  border: none;
}

#more-btn {
  border: none;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  padding: 13px;
  color: #3f51b5;
}

.sbc-box .sbm-btn {
  font: 400 small-caps 24px/36px Montserrat, sans-serif;
  color: #fff;
  letter-spacing: 1.2px;
  border-radius: 4px;
  background-color: #3f51b5;
  width: 100%;
  margin: 10px 0;
}

.btn-footer {
  font: 400 small-caps 24px/36px Montserrat, sans-serif;
  color: #ffffff;
  letter-spacing: 1.2px;
  box-shadow: 0 17px 24px rgba(48, 63, 159, 0.2);
  border-radius: 22px;
  border: none;
  background-color: #303f9f;
  padding: 1px 28px 6px 31px;
}

/*---------------------------------end button style-------------------------------------------*/

/*---------------------------------fonts style-------------------------------------------*/
.user-name {
  font: 700 12px/27px Montserrat, sans-serif;
  opacity: 0.87;
  color: #000;
  letter-spacing: 0.7px;
}

.post-date {
  font: 400 12px/27px Montserrat, sans-serif;
  opacity: 0.54;
  color: #212121;
  letter-spacing: 0.6px;
}

.ctg-fnt {
  font: 400 14px/40px 'Open Sans', sans-serif;
  opacity: 0.87;
  color: #000;
  letter-spacing: 0.56px;
}

.counter-fnt {
  font: 700 14px/40px 'Open Sans', sans-serif;
  opacity: 0.87;
  color: #000;
  letter-spacing: 0.56px;
}

.fab {
  padding: 13px;
  font-size: 18px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  font-weight: 400;
}

.fab:hover {
  opacity: 0.5;
}

.fas:hover {
  opacity: 0.5;
}

.fa-facebook-f {
  background: #3b5999;
  color: #fff;
}

.fa-twitter {
  background: #55ACEE;
  color: #fff;
}

.fa-vk {
  background: #4c75a3;
  color: #fff;
}

.fa-pinterest {
  background: #ff2e56;
  color: #fff;
}

.fa-tumblr {
  background: #34465d;
  color: #fff;
}

.fa-dribbble {
  background: #ea4c89;
  color: #fff;
}

.fa-globe {
  background: #fff;
  color: #303030;
  border-radius: 45%;
}

/*---------------------------------end fonts style-------------------------------------------*/

/*---------------------------------flex style-------------------------------------------*/
.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.justify-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.d-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.footer-slider-img {
  margin: 0 auto;
  max-width: 1920px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -4px; /*так и не нашел откуда оно прилетело*/
}

.full-img-width {
  width: 100%;
}

.mrg-right {
  margin-right: 20px;
}

/*---------------------------------end flex style-------------------------------------------*/

/*---------------------------------effects style-------------------------------------------*/
.bottom-lightning a:hover {
  border-bottom: 4px solid #ff4081;
}

.main-btn:hover {
  box-shadow: 0 17px 24px rgba(255, 64, 129, 1);
  color: #ff4081;
}

.btn-footer:hover {
  box-shadow: 0 17px 24px rgba(255, 64, 129, 1);
  color: #ff4081;
}

.logo h1:hover {
  color: #ff4081;
}

.footer-menu a:hover {
  color: #ff4081;
}

#more-btn:hover {
  color: #ff4081;
  background-color: #3f51b5;
}

.catgr-box li:hover {
  background-color: #2962ff;
  opacity: 0.5;
}

.grey-line-bottom {
  border-bottom: 1px solid rgba(55, 47, 43, 0.12);
}

/*---------------------------------end effects style-------------------------------------------*/