/*---------------------------------main style-------------------------------------------*/
body {
  font-size: 14px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/*---------------------------------end main style-------------------------------------------*/



/*---------------------------------header style-------------------------------------------*/

/*---------------------------------end header style-------------------------------------------*/



/*---------------------------------content style-------------------------------------------*/

/*---------------------------------end content style-------------------------------------------*/



/*---------------------------------aside style-------------------------------------------*/

/*---------------------------------end aside style-------------------------------------------*/



/*---------------------------------footer style-------------------------------------------*/

/*---------------------------------end footer style-------------------------------------------*/



/*---------------------------------fonts style-------------------------------------------*/

/*---------------------------------end fonts style-------------------------------------------*/



/*---------------------------------effects style-------------------------------------------*/

/*---------------------------------end effects style-------------------------------------------*/