/*---------------------------------my reset-----------------------------------------------*/

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
/*---------------------------------end my reset-------------------------------------------*/
/*---------------------------------my style-----------------------------------------------*/
body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/*---------------------------------end my style--------------------------------------------*/
/*---------------------------------header--------------------------------------------------*/
header {
  background: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87)), url("../img/header.png") no-repeat center;
  background-size: cover;
  padding: 36px 0 283px;
}

.header-container {
  margin: 0 auto 222px;
  max-width: 1418px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.header-main-block {
  margin: 0 auto;
  text-align: center;
}

.header-main-block h2 {
  font: 700 69px/27px Raleway, sans-serif;
  color: #f9fafe;
  letter-spacing: 4.54px;
  margin-bottom: 38px;
}

.header-main-block p {
  font: 400 28px/22px 'Open Sans', sans-serif;
  color: #f9fafe;
  letter-spacing: 1.3px;
  margin-bottom: 85px;
}

/*---------------------------------menu header---------------------------------------------*/
.header-buttons-group ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
}
/*---------------------------------end menu header-----------------------------------------*/
/*---------------------------------end header----------------------------------------------*/

/*---------------------------------first post section--------------------------------------*/
/*---------------------------------end first post section----------------------------------*/

/*---------------------------------subscribe section---------------------------------------*/
/*---------------------------------end subscribe-------------------------------------------*/

/*---------------------------------second post section-------------------------------------*/
/*---------------------------------end second post section---------------------------------*/

/*---------------------------------footer--------------------------------------------------*/
/*---------------------------------end footer----------------------------------------------*/

/*---------------------------------flex----------------------------------------------------*/
.flex-center {
  display: flex;
  justify-content: center;
}
/*---------------------------------end flex------------------------------------------------*/

/*---------------------------------buttons-------------------------------------------------*/
.header-buttons-group ul a {
  font: 700 15px/22px Raleway, sans-serif;
  color: #f9fafe;
  letter-spacing: 0.64px;
  padding: 10px 36px 9px 34px;
}

.header-sign-in {
  border-radius: 5px;
  border: 1px solid #f9fafe;
}

/*---------------------------------end buttons---------------------------------------------*/

/*---------------------------------form----------------------------------------------------*/

/*----------header-form-search-----------*/
.header-form-search {
  position: relative;
  width: 735px;
  margin-left: auto;
  margin-right: auto;
}

.header-form-search button {
  font: 700 14px/22px Raleway, sans-serif;
  color: #fff;
  letter-spacing: 0.56px;
  position: absolute;
  width: 192px;
  height: 58px;
  border-radius: 0 5px 5px 0;
  background-color: #e7434e;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
}

.header-form-search input {
  font: 700 14px/22px Raleway, sans-serif;
  color: #e7434e;
  width: 100%;
  height: 58px;
  padding: 0 200px 0 30px;
  border-radius: 5px;
  border: inherit;
  outline: none;
  background-color: #fff;
}

.header-form-search input::-webkit-input-placeholder {
  font: 400 14px/22px Raleway, sans-serif;
  color: #717171;
  letter-spacing: 0.56px;
}
.header-form-search input:-moz-placeholder {
  font: 400 14px/22px Raleway, sans-serif;
  color: #717171;
  letter-spacing: 0.56px;
}
.header-form-search input:-ms-input-placeholder {
  font: 400 14px/22px Raleway, sans-serif;
  color: #717171;
  letter-spacing: 0.56px;
}
/*----------END header-form-search-----------*/

/*---------------------------------end form------------------------------------------------*/

/*---------------------------------font----------------------------------------------------*/
/*---------------------------------end font------------------------------------------------*/

/*---------------------------------fontawesome---------------------------------------------*/
/*---------------------------------end fontawesome-----------------------------------------*/

/*---------------------------------effects-------------------------------------------------*/
.img-fluid {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo a:hover {
  opacity: 0.5;
}

.header-buttons-group a:hover {
  color: #e7434e;
}

.header-form-search button:hover {
  color: #000;
  background-color: #7fffd4;
}


/*---------------------------------end effects---------------------------------------------*/