/*---------------------------------my reset-----------------------------------------------*/
body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
/*---------------------------------end my reset--------------------------------------------*/


/*---------------------------------header--------------------------------------------------*/
header {
  background: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87)), url("../img/header.png") no-repeat center;
  background-size: cover;
  padding-top: 36px;
}

.header-container {
  margin: 0 auto;
  max-width: 1418px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.header-buttons-group ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
}



/*---------------------------------menu header---------------------------------------------*/
/*---------------------------------end menu header-----------------------------------------*/
/*---------------------------------end header----------------------------------------------*/

/*---------------------------------first post section--------------------------------------*/
/*---------------------------------end first post section----------------------------------*/

/*---------------------------------subscribe section---------------------------------------*/
/*---------------------------------end subscribe-------------------------------------------*/

/*---------------------------------second post section-------------------------------------*/
/*---------------------------------end second post section---------------------------------*/

/*---------------------------------footer--------------------------------------------------*/
/*---------------------------------end footer----------------------------------------------*/

/*---------------------------------flex----------------------------------------------------*/

/*---------------------------------end flex------------------------------------------------*/

/*---------------------------------buttons-------------------------------------------------*/
.header-buttons-group ul a {
  font: 700 15px/22px Raleway, sans-serif;
  color: #f9fafe;
  letter-spacing: 0.64px;
  padding: 10px 36px 9px 34px;
}

.header-sign-in {
  border-radius: 5px;
  border: 1px solid #f9fafe;
}

/*---------------------------------end buttons---------------------------------------------*/

/*---------------------------------form----------------------------------------------------*/
/*---------------------------------end form------------------------------------------------*/

/*---------------------------------font----------------------------------------------------*/
/*---------------------------------end font------------------------------------------------*/

/*---------------------------------fontawesome---------------------------------------------*/
/*---------------------------------end fontawesome-----------------------------------------*/

/*---------------------------------effects-------------------------------------------------*/
.img-fluid {
  max-width: 100%;
  height: auto;
}

.logo a:hover {
  opacity: 0.5;
}

.header-buttons-group a:hover {
  color: #e7434e;
}




/*---------------------------------end effects---------------------------------------------*/