/*---------------------------------my reset-----------------------------------------------*/
body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
/*---------------------------------end my reset--------------------------------------------*/


/*---------------------------------footer--------------------------------------------------*/
/*---------------------------------menu footer---------------------------------------------*/
/*---------------------------------end menu footer-----------------------------------------*/
/*---------------------------------end footer----------------------------------------------*/

/*---------------------------------first post section--------------------------------------*/
/*---------------------------------end first post section----------------------------------*/

/*---------------------------------subscribe section---------------------------------------*/
/*---------------------------------end subscribe-------------------------------------------*/

/*---------------------------------second post section-------------------------------------*/
/*---------------------------------end second post section---------------------------------*/

/*---------------------------------footer--------------------------------------------------*/
/*---------------------------------end footer----------------------------------------------*/

/*---------------------------------flex----------------------------------------------------*/
/*---------------------------------end flex------------------------------------------------*/

/*---------------------------------buttons-------------------------------------------------*/
/*---------------------------------end buttons---------------------------------------------*/

/*---------------------------------form----------------------------------------------------*/
/*---------------------------------end form------------------------------------------------*/

/*---------------------------------font----------------------------------------------------*/
/*---------------------------------end font------------------------------------------------*/

/*---------------------------------fontawesome---------------------------------------------*/
/*---------------------------------end fontawesome-----------------------------------------*/


/*---------------------------------effects-------------------------------------------------*/
/*---------------------------------end effects---------------------------------------------*/